<% @some_information.each do |i| %>
  <% if @my_user_id != i.user.id %>
    <div class="user-name">
      <h2><%= i.user.name %>さんとのトークルーム</h2>
    </div>
  <% end %>
<% end %>
<%= link_to "ユーザーの一覧に戻る", users_path %>

<div class="chats">
  <div class="ctat p-5 d-flex flex-column">
    <% if @messages.present? %>
      <% @messages.each do |m| %>7
        <div class="ctat-boox p-3 <%= @my_user_id == m.user.id? 'align-self-end' : 'align-self-start' %>">
          <p class="m-0"><small><%= m.user.name %></small></p>
          <p class="p-2 mb-1 bg-light text-dark"><%= m.message %></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="posts">
    <%= form_with model: @message do |f| %>
      <%= f.text_field :message, placeholder: "メッセージを入力して下さい", size: 50, class: "form-text-field" %>
        <%= f.submit "投稿", class: 'form-submit' %>
      <% end %>
    <% end %>
  </div>
</div>